{% extends "base.html" %}

{% block content %}
    <h4>Submission Details</h4>
    <hr>

    <div class="span4">
        <table class="table table-striped">
            <tr><td>Description</td><td>{{ description }}</td></tr>
            <tr><td>Photo</td><td>{% if photo %}<img src="{{ MEDIA_URL }}{{ photo }}">{% else %}[No Photo]{% endif %}</td></tr>
            <tr><td>Approval Status</td><td>{{ approval_status  }}</td></tr>
            <tr><td>First Name</td><td>{{ firstname }}</td></tr>
            <tr><td>Last Name</td><td>{{ lastname }}</td></tr>
            <tr><td>E-mail</td><td>{{ email }}</td></tr>
            <tr><td>Data Protection, Can E-mail?</td><td>{{ data_protection_can_send }}</td></tr>
            <tr><td>Latitude</td><td>{{ latitude }}</td></tr>
            <tr><td>Longitude</td><td>{{ longitude }}</td></tr>
        </table>
    </div>
{% endblock %}
